- name: Server ubuntu-test
  hosts: localhost
  connection: local
  gather_facts: false
  user: root
  tasks:
    # Setup servers
    # https://docs.ansible.com/projects/ansible/latest/collections/hetzner/hcloud/server_module.html#examples
    # states: present, absent, started, stopped, restarted, rebuild
    - name: Server ubuntu-test
      hetzner.hcloud.server:
        name: ubuntu-test
        location: nbg1
        server_type: cx23
        image: ubuntu-24.04
        backups: false
        enable_ipv4: true
        enable_ipv6: true
        ssh_keys:
          - cj-hetzner
        state: present
      register: server
    - name: Add server to inventory
      ansible.builtin.add_host:
        name: "{{ server.hcloud_server.ipv4_address }}"
        groups: server

- name: Webserver ubuntu-test
  hosts: server
  user: root
  # become: "{{ not ansible_check_mode }}"
  gather_facts: false
  tasks:
    - name: Update apt package cache
      ansible.builtin.apt:
        update_cache: yes
    - name: Has apache2
      ansible.builtin.apt:
        name: apache2
        state: present
    - name: Enabled and running apache2
      ansible.builtin.service:
        name: apache2
        enabled: true
        state: started
